.dark-mode-btn {
  order: 9;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  background-color: #272727;
  border-radius: 50px;
}

.dark-mode-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
}

@media (max-width: 620px) {
  .dark-mode-btn {
    order: 0;
  }
}