html {
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
    min-height: 100vh;
    background-color: #F9F9F9;
    color: #000000;
    position: relative;
    overflow-x: hidden;
}

img, svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, figure {
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}