.nav {
    background-color: var(--dark-bg) ;
    color: var(--header-text);
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    font-family: 'Poppins', sans-serif;
    letter-spacing: normal;
}

.nav__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.nav__title {
    margin-right: auto;
    font-size: 24px;
}

.nav__title strong {
    font-weight: 700;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
}

.nav__list-link {
    transition: opacity 0.2s ease-in;
}

.nav__list-link:hover {
    opacity: 0.7;
}

.nav__list-link--active {
    position: relative;
}

.nav__list-link--active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;    
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

@media (max-width: 620px) {
    .nav__row {
        justify-content: space-between;
    }
}