.project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.project__item {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project__image-container {
    max-height: 278px;
    padding: 19px 20px;
    background-color: #c2ab98;
    border-radius: 10px;
}

.project__image-container2 { /* !todo optimaze containers */
    /*
    background-color: #5d813f;
    */
}

.project__image-container3 { /* !todo optimaze containers */
    background-color: #f8bb5f;
}

.project__image {
    max-height: 240px;
    border-radius: 5px;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
}