.project__wrapper {
    max-width: 865px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project__img-container {
    padding: 10px 15px;
    background-color: #c2ab98;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.project__img-container2 {
    background-color: #5d813f;
}

.project__img-container3 {
    background-color: #f8bb5f;
}

.project__img {
    border-radius: 10px;
    max-width: 100%;
}

.project__descr {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.btn-outline {
    display: flex;
    gap: 10px;
    width: 169px;
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #000;
}

.btn-outline:hover {
    opacity: 0.7;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

.btn-outline:first-child {
    margin-bottom: 15px;
}

/* Skills and Contacts*/
.content__list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
}

.content__list-item {
    font-size: 18px;
    line-height: 1.5;
}

/* Biography */
.biography-content__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.biography-content__list-item {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.biography__image {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

@media (min-width: 320px) {
    .project__img-container {
        padding: 20px 25px;
    }
}

@media (max-width: 400px) {  /* !todo optizame*/
    .biography__image {
        height: auto;
    }
}

@media (min-width: 480px) {
    .project__img-container {
        padding: 30px 40px;
    }
}

@media (max-width: 620px) {
    .project__descr {
        font-size: 20px;
    }

    .content__list {
        row-gap: 20px;
    }

    .content__list-item {
        font-size: 16px;
    }

    .biography-content__list-item {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .project__img-container {
        padding: 40px 50px;
    }
}