:root {
  --black: #171718;
  --black-border: #26292D;
  --white: #FFF;
  --purple: #5C62EC;

  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  /* Projects */
  --project1-bg: #c4a388;
  --project2-bg: #e9e2dd;
  --project3-bg: #f8bb5f;

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
  --page-bg: #252526;
  --text-color: var(--white);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
  .btn-outline {
      border-color: #fff;
  }
}