.header {
    min-height: 695px;
    padding: 40px 0;
    background-color: var(--dark-bg);
    color: var(--header-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.header__title strong {
    font-weight: 700;
    font-size: 60px;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
}

.header__text p + p {
    margin-top: 0.5em;
}

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    letter-spacing: 0.15px;
    font-weight: 500;
    font-size: 16px;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.7;
}

.btn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 620px) {
    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }
}

